@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.garden-planner .garden-container .garden .cell, .garden-planner .garden-container .garden {
  display: flex;
  justify-content: center;
  align-items: center;
}

.garden-planner .vegetable-list-container .vegetable-list .vegetable-container img, .garden-planner .vegetable-list-container .vegetable-list .vegetable-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.garden-planner .vegetable-list-container h1, .garden-planner .garden-container h1 {
  width: 100%;
  color: darkorange;
  text-align: center;
}

.garden-planner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1300px;
  margin: 30px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #eeeeee;
  background-color: #0F1329;
  border-radius: 25px;
}
.garden-planner .garden-container {
  width: 50%;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}
.garden-planner .garden-container:before {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  right: 0;
  height: 100%;
  background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
}
.garden-planner .garden-container .garden {
  flex-wrap: wrap;
  width: 100%;
}
.garden-planner .garden-container .garden .cell {
  width: 4.8vw;
  height: 4.8vw;
  max-width: 70px;
  max-height: 70px;
  margin: 5px;
  border: 2px solid #1B223E;
  border-radius: 10px;
}
.garden-planner .garden-container .garden .cell img {
  width: 100%;
  border-radius: 10px;
}
.garden-planner .vegetable-list-container {
  width: 50%;
  max-width: 750px;
  height: 460px;
  padding: 20px;
}
.garden-planner .vegetable-list-container .vegetable-list {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
  grid-gap: 0 0;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.garden-planner .vegetable-list-container .vegetable-list::-webkit-scrollbar {
  width: 20px;
  display: block;
}
.garden-planner .vegetable-list-container .vegetable-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.garden-planner .vegetable-list-container .vegetable-list::-webkit-scrollbar-thumb {
  background: #4B5682;
  border-radius: 10px;
}
.garden-planner .vegetable-list-container .vegetable-list::-webkit-scrollbar-thumb:hover {
  background: #7F8EC0;
}
.garden-planner .vegetable-list-container .vegetable-list .vegetable-container {
  flex-direction: column;
  width: 130px;
  height: 130px;
  background-color: #4B5682;
  border-radius: 10px;
  margin: 5px;
  z-index: 1;
}
.garden-planner .vegetable-list-container .vegetable-list .vegetable-container .vegetable-name {
  font-size: 1vw;
  margin: 5px 10px;
  text-align: center;
}
.garden-planner .vegetable-list-container .vegetable-list .vegetable-container img {
  width: 60%;
  margin-bottom: 10px;
}
.garden-planner .vegetable-list-container .vegetable-list .draggable {
  cursor: grab;
}
.garden-planner .vegetable-list-container .vegetable-list .draggable:active {
  cursor: grabbing;
}

/*# sourceMappingURL=GardenPlanner.css.map */
