@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.loading div, .garden-option-container .option,
.option-selection .option, .garden-planner .garden-container .garden .row .cell, .garden-planner .garden-container .garden-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.garden-option-container,
.option-selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.garden-planner .options-container .vegetable-list .vegetable-container img, .garden-planner .options-container .vegetable-list .vegetable-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.garden-planner .options-container h1, .garden-planner .garden-container .garden-selection h1 {
  width: 100%;
  color: darkorange;
  text-align: center;
  font-size: 1.5vw;
}

.garden-planner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin: 30px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #eeeeee;
  background-color: #0F1329;
  border-radius: 25px;
}
.garden-planner .garden-container {
  width: 50%;
  height: 100%;
  margin: 0;
  position: relative;
}
.garden-planner .garden-container .garden-selection {
  justify-content: center;
}
.garden-planner .garden-container .garden-selection .arrow {
  margin: 0 20px;
  width: 50px;
  border-radius: 10px;
  background-color: #1B223E;
  padding: 10px;
  cursor: pointer;
}
.garden-planner .garden-container .garden-selection h1 {
  width: fit-content;
}
.garden-planner .garden-container .garden-selection input {
  width: 40%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: min(1.5vw, 22px);
  background-color: transparent;
  border-radius: 10px;
  color: #eeeeee;
  outline: none;
  border: none;
  cursor: text;
  caret-color: darkorange;
}
.garden-planner .garden-container .garden-selection input::placeholder {
  visibility: hidden;
}
.garden-planner .garden-container .garden-selection .error {
  border: 1px solid darkred;
}
.garden-planner .garden-container .garden-selection .editableField {
  background-color: #4B5682;
  cursor: text;
}
.garden-planner .garden-container .garden-selection .editableField::placeholder {
  visibility: visible;
  color: #eeeeee;
}
.garden-planner .garden-container .garden {
  overflow: auto;
  width: 95%;
  max-height: 460px;
  padding: 0 0 10px;
  margin: 0 20px 20px;
}
.garden-planner .garden-container .garden::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: block;
}
.garden-planner .garden-container .garden::-webkit-scrollbar-track {
  border-radius: 10px;
}
.garden-planner .garden-container .garden::-webkit-scrollbar-thumb {
  background: #4B5682;
  border-radius: 10px;
}
.garden-planner .garden-container .garden::-webkit-scrollbar-thumb:hover {
  background: #7F8EC0;
}
.garden-planner .garden-container .garden::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.garden-planner .garden-container .garden .row {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px 0 0;
}
.garden-planner .garden-container .garden .row .cell {
  width: 5vw;
  min-width: 40px;
  max-width: 75px;
  height: 5vw;
  min-height: 40px;
  max-height: 75px;
  margin: 5px;
  border: 2px solid #1B223E;
  border-radius: 10px;
  position: relative;
}
.garden-planner .garden-container .garden .row .cell .remove {
  position: absolute;
  top: -10px;
  right: -5px;
  color: darkorange;
  cursor: pointer;
}
.garden-planner .garden-container .garden .row .cell img {
  width: 100%;
  border-radius: 10px;
}
.garden-planner .options-container {
  width: 50%;
  max-width: 750px;
  height: 100%;
  position: relative;
  margin-bottom: 40px;
}
.garden-planner .options-container:before {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  left: 0;
  height: 100%;
  background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
}
.garden-planner .options-container h1 {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
}
.garden-planner .options-container .vegetable-list {
  height: 100%;
  max-height: 450px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5vw, max-content));
  grid-gap: 10px 10px;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.garden-planner .options-container .vegetable-list::-webkit-scrollbar {
  width: 10px;
  display: block;
}
.garden-planner .options-container .vegetable-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.garden-planner .options-container .vegetable-list::-webkit-scrollbar-thumb {
  background: #4B5682;
  border-radius: 10px;
}
.garden-planner .options-container .vegetable-list::-webkit-scrollbar-thumb:hover {
  background: #7F8EC0;
}
.garden-planner .options-container .vegetable-list .vegetable-container {
  flex-direction: column;
  width: 7vw;
  height: 7vw;
  background-color: #4B5682;
  border-radius: 10px;
  margin: 5px;
  z-index: 1;
}
.garden-planner .options-container .vegetable-list .vegetable-container .vegetable-name {
  font-size: 0.8vw;
  margin: 5px 10px;
  text-align: center;
}
.garden-planner .options-container .vegetable-list .vegetable-container img {
  width: 60%;
  margin-bottom: 10px;
}
.garden-planner .options-container .vegetable-list .draggable {
  cursor: grab;
}
.garden-planner .options-container .vegetable-list .draggable:active {
  cursor: grabbing;
}

.garden-option-container,
.option-selection {
  flex-wrap: wrap;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
}
.garden-option-container:before,
.option-selection:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 3px;
  background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
}
.garden-option-container .option,
.option-selection .option {
  width: 22.5%;
  height: 35px;
  padding: 0 10px;
  font-size: 1vw;
  font-weight: bold;
  white-space: nowrap;
  color: #eeeeee;
  background-color: #4B5682;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.garden-option-container .option:hover,
.option-selection .option:hover {
  transform: scale(0.95);
  transition: transform 200ms ease;
}
.garden-option-container .option svg,
.option-selection .option svg {
  color: darkorange;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.garden-option-container .active-type,
.option-selection .active-type {
  color: darkorange;
}

.loading {
  height: 460px;
  position: relative;
}
.loading div {
  position: absolute;
  top: 50px;
}
.loading .loading-spinner {
  margin: 20px;
  font-size: 60px;
}

/*# sourceMappingURL=GardenPlanner.css.map */
