@import "../Variables";

%title {
  width: 100%;
  color: $color-highlight;
  text-align: center;
}

.garden-planner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 80%;
  max-width: 1300px;

  margin: 30px auto;

  font-family: $font-family-text;
  font-weight: bold;

  color: $color-text;
  background-color: $background-color-darker;
  border-radius: $border-radius-container;

  .garden-container {
    width: 50%;
    max-width: 500px;

    padding: 20px;
    margin: 0 auto;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 3px;
      right: 0;
      height: 100%;
      background: linear-gradient(130deg, #0F1329, $color-highlight 50%, #0F1329 100%);
    }

    h1 {
      @extend %title;
    }

    .garden {
      @extend %display-flex-center;
      flex-wrap: wrap;

      width: 100%;

      .cell {
        @extend %display-flex-center;
        width: 4.8vw;
        height: 4.8vw;
        max-width: 70px;
        max-height: 70px;

        margin: 5px;
        border: 2px solid $background-color-normal;
        border-radius: $border-radius-smaller;

        img {
          width: 100%;

          border-radius: $border-radius-smaller;
        }
      }
    }
  }

  .vegetable-list-container {
    width: 50%;
    max-width: 750px;
    height: 460px;

    padding: 20px;

    h1 {
      @extend %title;
    }

    .vegetable-list {
      height: 90%;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
      grid-gap: 0 0;
      justify-content: center;

      overflow-y: auto;
      overflow-x: hidden;

      ////////////////////////
      // Scrollbar specific //

      &::-webkit-scrollbar {
        width: 20px;
        display: block;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: $focus-color-lighter;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $focus-color-lighter-hover;
      }

      .vegetable-container {
        @extend %display-flex-space-between;
        flex-direction: column;
        width: 130px;
        height: 130px;

        background-color: $focus-color-lighter;
        border-radius: $border-radius-smaller;
        margin: 5px;

        .vegetable-name {
          font-size: 1vw;
          margin: 5px 10px;
          text-align: center;
        }

        img {
          @extend %display-flex-space-between;
          width: 60%;

          margin-bottom: 10px;
        }
      }
    }
  }
}