@import "../Variables";

.grow-guides-container {
  @extend %display-flex-space-around;
  flex-wrap: wrap;

  width: 80%;
  height: fit-content;

  padding: 20px;
  margin: 50px auto 100px;

  font-family: $font-family-text;

  background-color: $background-color-darker;
  border-radius: $border-radius-container;

  .grow-guides-card {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, max-content));
    grid-gap: 10px 30px;

    justify-content: space-evenly;

    padding: initial;

    .grow-guide-card-outer {
      display: flex;
      align-items: center;

      width: 225px;
      height: 320px;

      margin: 20px 0;

      perspective: 1000px;

      background-color: $background-color-normal;
      border-radius: $border-radius-bigger;

      user-select: none;
      cursor: pointer;
      list-style-type: none;

      .grow-guide-card-inner {
        position: relative;

        width: 100%;
        height: 100%;

        transition: transform 1s;
        transform-style: preserve-3d;
        --gradient: linear-gradient(135deg, #151A30, #4B5682);

        .card-face-front {

          img {
            max-width: 85%;
            object-fit: contain;
            margin-top: 100px;
          }

          .vegetable-name {
            position: absolute;
            top: 0;

            margin: 25px auto;

            text-transform: uppercase;
            text-align: center;
            font-size: 18px;
            font-weight: 700;

            color: $color-text;
          }
        }
      }
    }
  }
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: $border-radius-bigger;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-front {
  @extend %display-flex-center;
  flex-direction: column;
  background-image: var(--gradient);

  h2 {
    color: $color-text;
    font-size: 32px;
  }
}

.card-face-back {
  background-color: $focus-color-lighter;
  transform: rotateY(180deg);

  .card-content {
    width: 100%;
    height: 100%;

    .icon {
      z-index: 1;
      @extend %display-flex-center;
      width: 30px;
      height: 29px;
      cursor: pointer;
      position: absolute;

      color: $color-text;

      &:hover {
        color: $background-color-dark;
      }

      &.active {
        color: $color-highlight;
      }
    }

    .pin-icon {
      top: 40px;
      right: 10px;
    }

    .heart-icon {
      top: 40px;
      left: 10px;
    }

    .card-header {
      position: relative;
      padding: 10px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 0 0 50% 0;
        background-image: linear-gradient(to bottom left, #4B5682 10%, #7F8EC0 115%);
      }

      .vegetable-picture {
        display: block;
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 0 auto 10px;
        border-radius: 50%;
        background-color: #eee;
        border: 1px solid #eee;
        object-fit: cover;
      }

      h2 {
        color: $color-text;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin: 5px auto 10px;
      }
    }

    .card-body {
      padding: 10px;

      p {
        @extend %display-flex-space-between;
        color: $color-text;
        font-size: 13px;
        font-weight: 600;
        line-height: 2.2;
        margin: 5px auto;
      }

      .buttons {
        @extend %display-flex-center;

        .more-info {
          position: relative;
          width: fit-content;
          height: fit-content;
          margin: 5px auto;
          padding: 5px 20px;
          font-weight: 600;
          color: $color-text;
          background-image: linear-gradient(135deg, #151A30, #4B5682, #151A30);
          border-radius: $border-radius-smaller;
          overflow: hidden;
          cursor: pointer;
          text-decoration: none;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, transparent, #b3c3db, transparent);
            transition: 0.7s;
          }

          &:hover::before {
            left: 100%;
          }
        }
      }
    }
  }
}

.is-flipped {
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.type-loading-spinner {
  margin-top: 50px;
  font-size: 75px;
  color: $color-highlight;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}