@import "../Variables";

.vegetable-info-container {
  position: relative;

  width: 80%;

  margin: 50px auto;
  padding: 20px;

  font-family: $font-family-text;
  font-weight: 600;

  color: $color-text;
  background-color: $background-color-darker;
  border-radius: $border-radius-container;

  .vegetable-info {
    @extend %display-flex-space-between;
    flex-direction: column;
    margin: 40px auto 20px;

    .smaller-information {
      @extend %display-flex-space-around;
      width: 100%;

      .basic-information {
        @extend %display-flex-center;
        flex-direction: column;

        width: 30%;
        max-width: 20vw;
        min-height: 280px;

        text-align: center;

        background-image: linear-gradient(135deg, #151A30, #4B5682);
        border-radius: $border-radius-bigger;

        .vegetable-name {
          width: fit-content;
          color: $color-highlight;
          text-decoration: underline;
          font-size: $font-size-large-vw;
          margin: 10px;
        }

        img {
          max-width: 65%;
          min-height: 140px;

          margin: 10px 0;
          object-fit: contain;
        }

        .vegetable-small-info {
          @extend %display-flex-space-between;
          width: 90%;
          margin: 5px 0 10px;
          font-size: $font-size-normal-vw;
        }
      }

      .sowing-table-container {
        background-image: linear-gradient(-135deg, #1b213e, #2b3562);
        border-radius: $border-radius-bigger;
        @extend %display-flex-center;
        flex-direction: column;
        width: 65%;
        max-height: 500px;

        .sowing-table-title {
          margin: 20px;
          font-size: $font-size-normal-vw;
          text-align: center;

          span {
            color: $color-highlight;
            text-decoration: underline;
          }
        }

        .sowing-table {
          margin: 20px;
          font-size: $font-size-normal-vw;

          table {
            border: 2px solid $focus-color-lighter-hover;
            border-spacing: 5px;

            tr:first-child {
              color: $color-highlight;

              th:first-child {
                border: none;
              }
            }

            tr {
              th:first-child {
                color: $color-highlight;
                width: fit-content;
                min-width: 80px;
                padding: 0 10px;
              }

              th {
                border: 1px dotted $focus-color-lighter-hover;
                width: 2vw;
                height: 2vw;

                img {
                  @extend %display-flex-center;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }

    .longer-information-container {
      width: 100%;
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px dotted $color-highlight;
      text-align: justify;

      .longer-information {
        display: flex;
        flex-direction: column;

        .longer-information-title {
          margin-bottom: 10px;
          font-size: $font-size-larger-vw;
          color: $color-highlight;
          font-style: italic;
        }

        .longer-information-text {
          margin-bottom: 30px;
          font-size: 1.3vw;
        }
      }
    }
  }

  .back-button {
    text-decoration: none;
    color: $color-text;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $focus-color-lighter;
    padding: 10px;
    border-radius: $border-radius-smaller;

    &:hover {
      color: $color-highlight;
    }
  }
}