@import "../Variables";

.vegetable-info-container {
  position: relative;

  width: 80%;

  margin: 50px auto;
  padding: 20px;

  font-family: $font-style-text;
  font-weight: 600;

  color: #eeeeee;
  background-color: $darker-color-blue;
  border-radius: 25px;

  .vegetable-info {
    @extend %display-flex-space-between;
    flex-direction: column;
    margin: 40px auto 20px;

    .smaller-information {
      @extend %display-flex-space-around;
      width: 100%;

      .basic-information{
        @extend %display-flex-center;
        text-align: center;
        flex-direction: column;
        max-width: 20vw;
        min-height: 280px;
        //padding: 10px;

        background-image: linear-gradient( 135deg, #151A30, #4B5682);
        border-radius: 10px;

        img {
          margin: 10px 0;
          max-width: 65%;
          object-fit: contain;
        }

        div:first-child {
          font-size: $font-size-larger-vw;
        }

        div {
          width: 90%;
          @extend %display-flex-space-between;
          margin: 10px 0;
          font-size: $font-size-normal-vw;
        }
      }

      .sowing-table-container {
        background-image: linear-gradient( -135deg, #1b213e, #2b3562);
        border-radius: 10px;
        max-height: 500px;
      }

      .sowing-table {
        //padding: 20px;
        margin: 20px;
        font-size: $font-size-smaller-vw;

        table {
          border: 2px solid #7F8EC0;
          border-spacing: 5px;
          //color: #7F8EC0;
          tr:first-child {
            color: darkorange;

            th:first-child {
              border: none;
              //background-color: #7F8EC0;
            }
          }

          tr {
            th:first-child {
              color: darkorange;
              width: fit-content;
              min-width: 80px;
              padding: 0 10px;
            }

            th {
              border: 1px dotted #7F8EC0;
              img {
                @extend %display-flex-center;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    .longer-information {
      width: 100%;
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px dotted #eee;
      text-align: justify;
    }
  }

  .back-button {
    text-decoration: none;
    color: #eeeeee;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4B5682;
    padding: 10px;
    border-radius: 10px;


    &:hover {
      color: darkorange;
    }
  }
}