@import "../Variables";

.vegetable-info-container {
  //@extend %display-flex-center;
  //flex-direction: column;
  position: relative;
  margin: 50px auto;
  width: 80%;
  font-family: $font-style-text;
  font-weight: 600;


  background-color: $darker-color-blue;
  border-radius: 25px;

  padding: 20px;
  color: #eeeeee;

  .vegetable-info {
    @extend %display-flex-space-between;
    flex-direction: column;
    margin: 30px auto 20px;

    .longer-information {
      width: 100%;
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px dotted #eee;
      text-align: justify;
    }

    .smaller-information {
      @extend %display-flex-space-around;
      width: 100%;

      img {
        width: 300px;
      }

      .sowing-table {
        table {
          border: 2px solid #7F8EC0;
          border-spacing: 5px;
          //color: #7F8EC0;
          tr:first-child {
            color: darkorange;

            th:first-child {
              border: none;
              //background-color: #7F8EC0;
            }
          }

          tr {
            th:first-child {
              color: darkorange;
              width: 130px;
            }

            th {
              border: 1px dotted #7F8EC0;
              img {
                @extend %display-flex-center;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .back-button {
    text-decoration: none;
    color: #eeeeee;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4B5682;
    padding: 10px;
    border-radius: 10px;


    &:hover {
      color: darkorange;
    }
  }
}