@import "./Variables";

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #eeeeee;
  background-color: darkorange;
}

body {
  margin: 0;
  padding: 0;

  background-color: $darkest-color-blue;
}