@import "./Variables";

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 80%;
  padding: 30px;
  margin: 50px auto;

  line-height: 1.5;
  text-align: justify;

  color: #eeeeee;
  background-color: $darker-color-blue;
  border-radius: 20px;

  h1 {
    font-size: $font-size-large-vw;
    text-align: center;
  }
}

.self-introduction {
  font-size: 20px;
}

.app-introduction {
  width: 100%;
  font-size: 20px;

  ul {
    li {
      list-style: none;

      .leaf-icon {
        color: darkorange;
      }

      span {
        padding-left: 20px;
      }
    }
  }
}

.my-garden {
  text-align: center;

  img {
    border-radius: 20px;
  }
}

.highlight {
  color: darkorange;
}