@import "App";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

//*****************//
// ** Variables ** //
//*****************//

$background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
$border-radius: 25px;
$color-whisper: #eeeeee;
$font-size-larger: 30px;
$font-size-normal: 25px;
$font-size-smaller: 20px;

%display-flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%display-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%weekList-row-display {
  display: block;
  margin: 10px 0;
  text-align: center;
}


::-webkit-scrollbar {
  display: none;
}

//*********************//
// ** City switcher ** //
//*********************//

.available-cities {
  @extend %display-flex-space-around;
  flex-wrap: wrap;

  padding: 20px;

  font: $font-size-larger "Montserrat", sans-serif;
  color: $color-whisper;

  .city-name {
    margin: 15px;
  }
}

//*************************//
// ** Weather container ** //
//*************************//

.loading {
  @extend %display-flex-center;
  height: 250px;

  font: $font-size-larger "Montserrat", sans-serif;
  color: $color-whisper;
}

.weather-container {
  @extend %display-flex-center;
  flex-wrap: wrap;

  height: fit-content;
  width: 80%;

  margin: 50px auto 150px auto;
  font: $font-size-smaller "Montserrat", sans-serif;
  color: $color-whisper;

  background-color: $darker-color-blue;
  border-radius: $border-radius;

  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);

  ///////////////////////////////////////////
  // Fix today's weather card to stay      //
  // in the weather-container below 1352px.//
  @media (max-width: 1352px) {
    padding-top: 40px;
  }

  @media (min-width: 1352px) {
    padding-left: 25px;
  }
}

.today-weather-side {
  height: 490px;
  width: 320px;

  position: relative;
  float: left;

  background-image: $background-image;
  border-radius: $border-radius;

  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);

  -webkit-transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;

  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);

  &:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
  }

  .today-weather-gradient {
    width: 100%;
    height: 100%;

    background-image: var(--gradient);
    border-radius: $border-radius;

    opacity: 0.8;
  }

  .today-location-and-date-container {
    position: absolute;
    top: 25px;
    left: 20px;

    .today-location-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      margin-bottom: 10px;

      svg {
        margin: 5px;
        color: darkorange;
      }

      .today-location {
        width: 270px;

        word-wrap: break-word;

        font-size: $font-size-normal;
        font-weight: 600;
      }
    }

    .today-day-name {
      position: absolute;
      top: 75px;

      margin: 0;
    }

    .today-date {
      position: absolute;
      top: 110px;
    }
  }

  .today-weather-extras-container {
    width: 85%;

    position: absolute;
    top: 180px;
    left: 20px;

    .today-extras {
      @extend %display-flex-space-between;

      margin-bottom: 20px;
      font-size: $font-size-smaller;
      font-weight: 700;
    }
  }

  .today-weather-container {
    position: absolute;
    bottom: 25px;
    left: 20px;

    .weather-temp {
      margin: 0;
      font-weight: 700;
      font-size: 4em;
    }

    .weather-desc {
      margin: 0;
    }
  }
}

.forecast-weather-side {
  @extend %display-flex-space-around;
  flex-direction: column;
  padding-top: 25px;

  .week-list {
    @extend %display-flex-center;
    flex-wrap: wrap;

    padding: 20px;
    margin: 10px 35px;

    border-radius: 10px;
    background-color: #151A30;

    -webkit-box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
    box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
    list-style-type: none;

    li {
      width: 120px;
      padding: 15px;
      margin: 10px;

      border-radius: 10px;

      cursor: pointer;

      -webkit-transition: 200ms ease;
      -o-transition: 200ms ease;
      transition: 200ms ease;

      -webkit-box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
      box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);

      ////////////////////////////////////////
      // Fix to keep cards evenly in a row. //
      @media (max-width: 1002px) {
        margin: 10px 50px;
      }

      @media (max-width: 774px) {
        margin: 10px 10px;
      }

      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        background-image: var(--gradient);
        color: $color-whisper;
        -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
      }

      &.active {
        background-image: var(--gradient);
        color: $color-whisper;
        border-radius: 10px;
      }

      .forecast-date, .forecast-day {
        @extend %weekList-row-display;
      }

      .forecast-date {
        font-weight: 700;
        color: darkorange;
      }

      .sunrise-container, .sunset-container {
        margin: 0;
        @extend %display-flex-space-around;

        svg {
            margin: 10px 0;
            color: darkorange;
        }
      }

      .forecast-day-temp {
        display: block;
        text-align: center;
        margin: 10px 0;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }

  .active-day-info-container {
    @extend %display-flex-center;
    flex-wrap: wrap;
    margin: 10px 35px;

    background-color: #151A30;
    border-radius: 10px;

    .active-day-info {
      height: auto;
      width: 250px;
      padding: 15px;
      margin: 0 10px;

      .forecast-data {
        @extend %display-flex-space-between;
        margin-bottom: 10px;

        font-weight: 700;

        color: darkorange;

        .active-day-date {
          width: 75px;
        }

        .active-day-day {
          width: 100px;
        }
      }

      .forecast-property-container {
        &:not(:last-child) {
          margin: 0 0 10px 0;
        }

        .forecast-title {
          font-weight: 700;
        }

        .forecast-value {
          float: right;
        }
      }
    }
  }

  .location-container {
    width: 70%;
    padding: 15px 35px;

    .location-button {
      outline: none;
      width: 100%;

      padding: 10px;

      border: none;
      border-radius: 25px;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;

      background-image: var(--gradient);
      color: #ffffff;

      -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
      transition: transform 200ms ease;

      cursor: pointer;

      &:hover {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }

      .location-icon {
        display: inline-block;
        height: 1em;
        width: auto;
        margin-right: 5px;
      }
    }
  }
}

.city-selector-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: $darkest-color-blue;
  opacity: 0.9;
  z-index: 1;
}

.city-selector {
  position: fixed;
  top: 12.5%;
  left: 20%;

  text-align: center;

  max-height: 1000px;
  height: 75%;
  overflow: scroll;
  width: 60%;
  --gradient: linear-gradient( 135deg, #040617 10%, #151A30 60%, #040617 100%);
  background-image: var(--gradient);

  box-shadow: 0 0 30px -5px rgba(200, 200, 200, 0.25);

  border-radius: 10px;
  z-index: 2;
  opacity: 1;

  .city-input {
    outline: none;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
  }

  .city-list-container {
    @extend %display-flex-center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    font: 15px "Montserrat", sans-serif;

    .city-list-hungary {
      width: 550px;
      margin: 20px 10px 20px 20px;
      background-color: $darker-color-blue;
      border-radius: 10px;

      ul {
        @extend %display-flex-space-around;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0;

        li {
          list-style: none;
          width: 140px;
          margin: 7px;
          padding: 5px;

          color: $color-whisper;

          box-shadow: 2px 2px 1px 0 #4B5682;

          background-color: $dark-color-blue;
          border-radius: 7px;
          cursor: pointer;
        }

        li:hover {
          color: darkorange;
        }
      }
    }

    .city-list-abroad {
      width: 230px;
      margin: 10px;
      background-color: $darker-color-blue;
      border-radius: 10px;

      ul {
        @extend %display-flex-space-around;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0;

        li {
          list-style: none;
          width: 160px;
          margin: 7px 5px;
          padding: 5px;

          color: $color-whisper;

          box-shadow: 2px 2px 1px 0 #4B5682;

          background-color: $dark-color-blue;
          border-radius: 7px;
          cursor: pointer;
        }

        li:hover {
          color: darkorange;
        }
      }
    }
  }
}

.city-list-title {
  width: fit-content;
  margin: 5px auto;
  padding: 10px;
  color: $color-whisper;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
  }
}