@import "../Variables";

.charts-info-box {
  width: 80%;
  margin: 40px auto 0;
  padding: 20px 20px 0;

  font-family: $font-family-text;
  font-weight: bold;

  background-color: $background-color-dark;
  border-radius: $border-radius-bigger;

  .chart-type-selection {
    margin: 0 auto;
    background-color: $background-color-normal;
    border-radius: $border-radius-smaller;

    ul {
      @extend %display-flex-space-around;
      margin: 0;
      list-style: none;

      li {
        background-color: #4B5682;
        margin: 10px;
        padding: 10px;
        border-radius: $border-radius-smaller;
        color: $color-text;
        cursor: pointer;
      }
    }
  }
}