@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.city-selector .city-list-container .city-list-container-left .get-location, .city-selector .city-list-container, .city-selector .city-input-container .search-box, .city-selector .city-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-selector .city-list-container .city-list-abroad ul, .city-selector .city-list-container .city-list-container-left .city-list-hungary ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.city-selector-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #040617;
  opacity: 0.9;
  z-index: 5;
}

.city-selector {
  position: fixed;
  top: 5%;
  left: 10%;
  text-align: center;
  max-height: 870px;
  height: 85%;
  overflow: scroll;
  width: 80%;
  --gradient: linear-gradient( 135deg, #040617 10%, #151A30 60%, #040617 100%);
  background-image: var(--gradient);
  box-shadow: 0 0 30px -5px rgba(200, 200, 200, 0.25);
  border-radius: 25px;
  z-index: 6;
  opacity: 1;
}
.city-selector .city-input-container {
  flex-wrap: wrap;
  font: 600 20px "Montserrat", sans-serif;
  color: #eeeeee;
}
.city-selector .city-input-container .city-input-text {
  margin: 10px;
}
.city-selector .city-input-container .search-box .city-input {
  outline: none;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 0 5px;
  color: #eeeeee;
  font: 600 20px "Montserrat", sans-serif;
  text-transform: capitalize;
  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);
  background-image: var(--gradient);
}
.city-selector .city-input-container .search-box .search-icon {
  cursor: pointer;
  height: 24px;
  margin-right: 10px;
  color: darkorange;
}
.city-selector .city-list-container {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  font: 600 20px "Montserrat", sans-serif;
}
.city-selector .city-list-container .city-list-container-left .get-location {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  margin: 10px auto 30px;
  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);
  background-image: var(--gradient);
  color: #eeeeee;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms ease;
}
.city-selector .city-list-container .city-list-container-left .get-location:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary {
  max-width: 750px;
  margin: 10px 10px 20px 20px;
  background-color: #0F1329;
  border-radius: 10px;
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary ul {
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary ul li {
  list-style: none;
  width: 200px;
  margin: 7px;
  padding: 5px;
  font-size: 18px;
  color: #eeeeee;
  box-shadow: 2px 2px 1px 0 #4B5682;
  background-color: #151A30;
  border-radius: 10px;
  cursor: pointer;
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary ul li:hover {
  color: darkorange;
}
.city-selector .city-list-container .city-list-abroad {
  width: 260px;
  margin: 10px 10px 20px 20px;
  background-color: #0F1329;
  border-radius: 10px;
}
@media (max-width: 1337px) {
  .city-selector .city-list-container .city-list-abroad {
    width: fit-content;
    max-width: 750px;
  }
}
.city-selector .city-list-container .city-list-abroad ul {
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}
.city-selector .city-list-container .city-list-abroad ul li {
  list-style: none;
  width: 200px;
  margin: 7px 5px;
  padding: 5px;
  color: #eeeeee;
  box-shadow: 2px 2px 1px 0 #4B5682;
  background-color: #151A30;
  border-radius: 10px;
  cursor: pointer;
}
.city-selector .city-list-container .city-list-abroad ul li:hover {
  color: darkorange;
}

.city-list-title {
  width: fit-content;
  margin: 5px auto;
  padding: 10px;
  color: #eeeeee;
  position: relative;
}
.city-list-title:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
}

.loading-spinner {
  color: darkorange;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=City_Selector.css.map */
