@import "../Variables";

//*****************//
// ** Variables ** //
//*****************//

%weekList-row-display {
  display: block;
  margin: 10px 0;
  text-align: center;
}

@mixin gradientAnimation( $start, $end, $transTime ) {
  background-size: 100%;
  background-color: $background-color-dark;

  position: relative;

  &:before {
    background-image: linear-gradient(135deg, $end, $start);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -1;
    transition: opacity $transTime;
    border-radius: 10px;

  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

@mixin locationButton($width) {
  .location-container {
    width: 100%;
    padding: 15px 35px;
    margin: 0;
    --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);
    text-align: center;

    .location-button {
      outline: none;
      width: $width;

      padding: 10px;

      border: none;
      border-radius: $border-radius-smaller;

      font: 600 18px $font-family-text;

      background-image: var(--gradient);
      color: $color-text;

      -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
      transition: transform 200ms ease;

      cursor: pointer;

      &:hover {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }

      .location-icon {
        display: inline-block;
        height: 1em;
        width: auto;
        margin-right: 5px;
      }
    }
  }
}

//*****************//
// ** Forecast  ** //
//*****************//

.forecast-weather-side {
  @extend %display-flex-space-between;
  flex-direction: column;
  padding-top: 25px;

  .week-list-container {
    width: 720px;

    @media (max-width: 1002px) {
      max-width: fit-content;
    }

    .pagination {
      @extend %display-flex-center;
      margin: -25px 10px 0;
      padding: 20px 0 10px;
      max-width: 100%;
      background-color: $background-color-dark;
      border-radius: $border-radius-smaller;

      ////////////////////////////////////////////////
      // Fix width if there is less than 4 elements //
      @media (max-width: 1002px) {
        max-width: 100%;
      }
      /////////////////////////////////////////////////


      .page-number {
        @extend %display-flex-center;
        cursor: pointer;
        text-align: center;
        width: 24px;
        height: 24px;
        margin: 5px 10px;
        padding: 5px 10px;
        background-color: $background-color-darkest;
        color: $color-text;

        border-radius: 10px;

        &:hover {
          background-image: var(--gradient);
          -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
        }

        &.active {
          background-image: var(--gradient);
        }
      }
    }

    .week-list {
      @extend %display-flex-center;
      flex-wrap: wrap;

      padding: 20px 10px 0;
      margin: 10px 10px;

      border-radius: $border-radius-smaller;
      background-color: $background-color-dark;

      -webkit-box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
      box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
      list-style-type: none;

      li {
        width: 120px;
        padding: 15px;
        margin: 10px;

        border-radius: $border-radius-smaller;

        cursor: pointer;

        -webkit-transition: 300ms ease;
        -o-transition: 300ms ease;
        transition: 300ms ease;

        -webkit-box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
        box-shadow: 0 0 50px -5px rgb(10, 10, 10, 0.75);
        //@include gradientAnimation(#4B5682, #7F8EC0, 1s);
        @include gradientAnimation(#7F8EC0, #4B5682, 1s);


        ////////////////////////////////////////
        // Fix to keep cards evenly in a row. //
        @media (max-width: 1002px) {
          margin: 10px 45px;
        }

        @media (max-width: 774px) {
          margin: 10px 20px;
        }

        &:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          color: $color-text;
          -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        }

        &.active {
          background-image: var(--gradient);
          color: $color-text;
          border-radius: $border-radius-smaller;
        }

        .forecast-date, .forecast-day {
          @extend %weekList-row-display;
        }

        .forecast-date {
          font-weight: 700;
          color: $color-highlight;
        }

        .sunrise-container, .sunset-container {
          margin: 0;
          @extend %display-flex-space-around;

          svg {
            margin: 10px 0;
            color: $color-highlight;
          }
        }

        .forecast-day-temp {
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          margin: 10px 0;
          font-weight: 700;
          font-size: 20px;

          img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  .active-day-info-container {
    @extend %display-flex-center;
    flex-wrap: wrap;
    margin: 10px;

    background-color: $background-color-dark;
    border-radius: $border-radius-smaller;

    .active-day-info {
      height: auto;
      width: 250px;
      padding: 15px;
      margin: 0 10px;

      .forecast-data {
        @extend %display-flex-space-between;
        margin-bottom: 10px;

        font-weight: 700;

        color: $color-highlight;

        .active-day-date {
          width: 75px;
        }

        .active-day-day {
          width: 100px;
        }
      }

      .forecast-property-container {
        &:not(:last-child) {
          margin: 0 0 10px 0;
        }

        .forecast-title {
          font-weight: 700;
        }

        .forecast-value {
          float: right;
        }
      }
    }
  }

  @include locationButton(70%)
}

@include locationButton(40%)


