@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.today-weather-side .today-weather-extras-container .today-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-weather-side {
  height: 550px;
  width: 320px;
  margin: 0 20px;
  position: relative;
  float: left;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
}
.today-weather-side:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}
.today-weather-side .today-weather-gradient {
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  border-radius: 20px;
  opacity: 0.8;
}
.today-weather-side .today-location-and-date-container {
  position: absolute;
  top: 25px;
  left: 20px;
}
.today-weather-side .today-location-and-date-container .today-location-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}
.today-weather-side .today-location-and-date-container .today-location-container svg {
  margin: 5px;
  color: darkorange;
}
.today-weather-side .today-location-and-date-container .today-location-container .today-location {
  width: 270px;
  word-wrap: break-word;
  font-size: 25px;
  font-weight: 600;
}
.today-weather-side .today-location-and-date-container .today-day-name {
  position: absolute;
  top: 75px;
  margin: 0;
}
.today-weather-side .today-location-and-date-container .today-date {
  position: absolute;
  top: 110px;
}
.today-weather-side .today-weather-extras-container {
  width: 85%;
  position: absolute;
  top: 180px;
  left: 20px;
}
.today-weather-side .today-weather-extras-container .today-extras {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.today-weather-side .today-weather-container {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.today-weather-side .today-weather-container img {
  margin-bottom: -15px;
}
.today-weather-side .today-weather-container .weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}
.today-weather-side .today-weather-container .weather-desc {
  margin: 0;
}

.charts {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.charts .chart {
  position: relative;
}
.charts .chart .icons {
  width: fit-content;
  position: absolute;
  top: 70px;
  left: 100px;
  z-index: 1;
}
.charts .chart .icons img {
  margin: 0 18px 0 0;
}

.chart {
  margin-bottom: 20px;
}
.chart .apexcharts-canvas {
  border-radius: 20px;
  background-color: #151A30;
  padding: 30px;
}

.apexcharts-menu {
  background-color: #4B5682 !important;
  color: #eeeeee;
  min-width: 95px !important;
  border: 1px solid darkorange;
}
.apexcharts-menu .apexcharts-menu-item:hover {
  background-color: transparent !important;
  color: darkorange;
}

.apexcharts-menu-icon {
  margin: 5px 5px 0 0;
}
.apexcharts-menu-icon svg {
  fill: darkorange !important;
}

.apexcharts-svg text {
  margin-bottom: 150px !important;
}

.apexcharts-svg {
  width: 610px !important;
  margin-left: -5px !important;
}

.apexcharts-toolbar {
  z-index: 1 !important;
}

/*# sourceMappingURL=Today_Weather.css.map */
