@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
.city-selector .city-list-container .city-list-container-left .get-location, .city-selector .city-list-container, .city-selector .city-input-container .search-box, .city-selector .city-input-container, .forecast-weather-side .active-day-info-container, .forecast-weather-side .week-list-container .week-list, .forecast-weather-side .week-list-container .pagination, .loading, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-selector .city-list-container .city-list-abroad ul, .city-selector .city-list-container .city-list-container-left .city-list-hungary ul, .forecast-weather-side .week-list-container .week-list li .sunrise-container, .forecast-weather-side .week-list-container .week-list li .sunset-container, .weather-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forecast-weather-side .active-day-info-container .active-day-info .forecast-data, .forecast-weather-side, .today-weather-side .today-weather-extras-container .today-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #eeeeee;
  background-color: darkorange;
}

body {
  margin: 0;
  padding: 0;
  background-color: #040617;
}

.header {
  width: 100%;
  height: fit-content;
  padding: 5px 0;
}

.title {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  letter-spacing: 5px;
}
@media screen and (max-width: 775px) {
  .title {
    font-size: 65px;
  }
}
@media screen and (max-width: 625px) {
  .title {
    font-size: 50px;
  }
}
.title a {
  text-align: left;
  margin: 0 0 0 20px;
  text-decoration: none;
  color: #eeeeee;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  height: 75px;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  letter-spacing: 2px;
  text-align: center;
  background-color: transparent;
}
@media screen and (max-width: 775px) {
  .navbar {
    font-size: 25px;
  }
}
@media screen and (max-width: 625px) {
  .navbar {
    font-size: 20px;
  }
}
.navbar a {
  margin: 20px;
  text-decoration: none;
  color: #eeeeee;
}
.navbar a:hover {
  color: #7F8EC0;
}

.city-selector .city-list-container .city-list-container-left .get-location, .city-selector .city-list-container, .city-selector .city-input-container .search-box, .city-selector .city-input-container, .forecast-weather-side .active-day-info-container, .forecast-weather-side .week-list-container .week-list, .forecast-weather-side .week-list-container .pagination, .loading, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-selector .city-list-container .city-list-abroad ul, .city-selector .city-list-container .city-list-container-left .city-list-hungary ul, .forecast-weather-side .week-list-container .week-list li .sunrise-container, .forecast-weather-side .week-list-container .week-list li .sunset-container, .weather-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forecast-weather-side .active-day-info-container .active-day-info .forecast-data, .forecast-weather-side, .today-weather-side .today-weather-extras-container .today-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-weather-side .week-list-container .week-list li .forecast-date, .forecast-weather-side .week-list-container .week-list li .forecast-day {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.loading {
  height: 250px;
  font: 30px "Montserrat", sans-serif;
  color: #eeeeee;
}

.weather-container {
  flex-wrap: wrap;
  height: fit-content;
  width: fit-content;
  padding: 0 10px;
  margin: 50px auto 150px auto;
  font: 20px "Montserrat", sans-serif;
  color: #eeeeee;
  background-color: #0F1329;
  border-radius: 25px;
  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);
}
@media (max-width: 1152px) {
  .weather-container {
    padding-top: 40px;
    width: 75%;
  }
}
@media (min-width: 1352px) {
  .weather-container {
    padding-left: 25px;
  }
}

.today-weather-side {
  height: 550px;
  width: 320px;
  margin: 0 20px;
  position: relative;
  float: left;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  border-radius: 25px;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
}
.today-weather-side:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}
.today-weather-side .today-weather-gradient {
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  border-radius: 25px;
  opacity: 0.8;
}
.today-weather-side .today-location-and-date-container {
  position: absolute;
  top: 25px;
  left: 20px;
}
.today-weather-side .today-location-and-date-container .today-location-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}
.today-weather-side .today-location-and-date-container .today-location-container svg {
  margin: 5px;
  color: darkorange;
}
.today-weather-side .today-location-and-date-container .today-location-container .today-location {
  width: 270px;
  word-wrap: break-word;
  font-size: 25px;
  font-weight: 600;
}
.today-weather-side .today-location-and-date-container .today-day-name {
  position: absolute;
  top: 75px;
  margin: 0;
}
.today-weather-side .today-location-and-date-container .today-date {
  position: absolute;
  top: 110px;
}
.today-weather-side .today-weather-extras-container {
  width: 85%;
  position: absolute;
  top: 180px;
  left: 20px;
}
.today-weather-side .today-weather-extras-container .today-extras {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.today-weather-side .today-weather-container {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.today-weather-side .today-weather-container img {
  margin-bottom: -15px;
}
.today-weather-side .today-weather-container .weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}
.today-weather-side .today-weather-container .weather-desc {
  margin: 0;
}

.forecast-weather-side {
  flex-direction: column;
  padding-top: 25px;
}
.forecast-weather-side .week-list-container {
  width: 720px;
}
@media (max-width: 1002px) {
  .forecast-weather-side .week-list-container {
    max-width: fit-content;
  }
}
.forecast-weather-side .week-list-container .pagination {
  margin: -25px 10px 0;
  padding: 20px 0 10px;
  max-width: 100%;
  background-color: #151A30;
  border-radius: 10px;
}
@media (max-width: 1002px) {
  .forecast-weather-side .week-list-container .pagination {
    max-width: 100%;
  }
}
.forecast-weather-side .week-list-container .pagination .page-number {
  cursor: pointer;
  text-align: center;
  width: 24px;
  height: 24px;
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: #040617;
  border-radius: 7px;
}
.forecast-weather-side .week-list-container .pagination .page-number:hover {
  background-image: var(--gradient);
  color: #eeeeee;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}
.forecast-weather-side .week-list-container .pagination .page-number.active {
  background-image: var(--gradient);
  color: #eeeeee;
}
.forecast-weather-side .week-list-container .week-list {
  flex-wrap: wrap;
  padding: 20px 10px 0;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #151A30;
  -webkit-box-shadow: 0 0 50px -5px rgba(10, 10, 10, 0.75);
  box-shadow: 0 0 50px -5px rgba(10, 10, 10, 0.75);
  list-style-type: none;
}
.forecast-weather-side .week-list-container .week-list li {
  width: 120px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-box-shadow: 0 0 50px -5px rgba(10, 10, 10, 0.75);
  box-shadow: 0 0 50px -5px rgba(10, 10, 10, 0.75);
  background-size: 100%;
  background-color: #151A30;
  position: relative;
}
.forecast-weather-side .week-list-container .week-list li:before {
  background-image: linear-gradient(135deg, #4B5682, #7F8EC0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: opacity 1s;
  border-radius: 10px;
}
.forecast-weather-side .week-list-container .week-list li:hover:before {
  opacity: 1;
}
@media (max-width: 1002px) {
  .forecast-weather-side .week-list-container .week-list li {
    margin: 10px 45px;
  }
}
@media (max-width: 774px) {
  .forecast-weather-side .week-list-container .week-list li {
    margin: 10px 20px;
  }
}
.forecast-weather-side .week-list-container .week-list li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #eeeeee;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}
.forecast-weather-side .week-list-container .week-list li.active {
  background-image: var(--gradient);
  color: #eeeeee;
  border-radius: 10px;
}
.forecast-weather-side .week-list-container .week-list li .forecast-date {
  font-weight: 700;
  color: darkorange;
}
.forecast-weather-side .week-list-container .week-list li .sunrise-container, .forecast-weather-side .week-list-container .week-list li .sunset-container {
  margin: 0;
}
.forecast-weather-side .week-list-container .week-list li .sunrise-container svg, .forecast-weather-side .week-list-container .week-list li .sunset-container svg {
  margin: 10px 0;
  color: darkorange;
}
.forecast-weather-side .week-list-container .week-list li .forecast-day-temp {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  font-size: 20px;
}
.forecast-weather-side .active-day-info-container {
  flex-wrap: wrap;
  margin: 10px;
  background-color: #151A30;
  border-radius: 10px;
}
.forecast-weather-side .active-day-info-container .active-day-info {
  height: auto;
  width: 250px;
  padding: 15px;
  margin: 0 10px;
}
.forecast-weather-side .active-day-info-container .active-day-info .forecast-data {
  margin-bottom: 10px;
  font-weight: 700;
  color: darkorange;
}
.forecast-weather-side .active-day-info-container .active-day-info .forecast-data .active-day-date {
  width: 75px;
}
.forecast-weather-side .active-day-info-container .active-day-info .forecast-data .active-day-day {
  width: 100px;
}
.forecast-weather-side .active-day-info-container .active-day-info .forecast-property-container:not(:last-child) {
  margin: 0 0 10px 0;
}
.forecast-weather-side .active-day-info-container .active-day-info .forecast-property-container .forecast-title {
  font-weight: 700;
}
.forecast-weather-side .active-day-info-container .active-day-info .forecast-property-container .forecast-value {
  float: right;
}
.forecast-weather-side .location-container {
  width: 70%;
  padding: 15px 35px;
}
.forecast-weather-side .location-container .location-button {
  outline: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font: 600 18px "Montserrat", sans-serif;
  background-image: var(--gradient);
  color: #ffffff;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease;
  cursor: pointer;
}
.forecast-weather-side .location-container .location-button:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.forecast-weather-side .location-container .location-button .location-icon {
  display: inline-block;
  height: 1em;
  width: auto;
  margin-right: 5px;
}

.city-selector-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #040617;
  opacity: 0.9;
  z-index: 1;
}

.city-selector {
  position: fixed;
  top: 5%;
  left: 10%;
  text-align: center;
  max-height: 870px;
  height: 85%;
  overflow: scroll;
  width: 80%;
  --gradient: linear-gradient( 135deg, #040617 10%, #151A30 60%, #040617 100%);
  background-image: var(--gradient);
  box-shadow: 0 0 30px -5px rgba(200, 200, 200, 0.25);
  border-radius: 10px;
  z-index: 2;
  opacity: 1;
}
.city-selector .city-input-container {
  flex-wrap: wrap;
  font: 600 20px "Montserrat", sans-serif;
  color: #eeeeee;
}
.city-selector .city-input-container .city-input-text {
  margin: 10px;
}
.city-selector .city-input-container .search-box .city-input {
  outline: none;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 0 5px;
  color: #eeeeee;
  font: 600 20px "Montserrat", sans-serif;
  text-transform: capitalize;
  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);
  background-image: var(--gradient);
}
.city-selector .city-input-container .search-box .search-icon {
  cursor: pointer;
  height: 24px;
  margin-right: 10px;
  color: rgba(255, 140, 0, 0.8);
}
.city-selector .city-list-container {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  font: 600 20px "Montserrat", sans-serif;
}
.city-selector .city-list-container .city-list-container-left .get-location {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  margin: 10px auto 30px;
  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);
  background-image: var(--gradient);
  color: #eeeeee;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms ease;
}
.city-selector .city-list-container .city-list-container-left .get-location:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary {
  max-width: 750px;
  margin: 10px 10px 20px 20px;
  background-color: #0F1329;
  border-radius: 10px;
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary ul {
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary ul li {
  list-style: none;
  width: 200px;
  margin: 7px;
  padding: 5px;
  font-size: 18px;
  color: #eeeeee;
  box-shadow: 2px 2px 1px 0 #4B5682;
  background-color: #151A30;
  border-radius: 7px;
  cursor: pointer;
}
.city-selector .city-list-container .city-list-container-left .city-list-hungary ul li:hover {
  color: darkorange;
}
.city-selector .city-list-container .city-list-abroad {
  width: 260px;
  margin: 10px 10px 20px 20px;
  background-color: #0F1329;
  border-radius: 10px;
}
@media (max-width: 1337px) {
  .city-selector .city-list-container .city-list-abroad {
    width: fit-content;
    max-width: 750px;
  }
}
.city-selector .city-list-container .city-list-abroad ul {
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}
.city-selector .city-list-container .city-list-abroad ul li {
  list-style: none;
  width: 200px;
  margin: 7px 5px;
  padding: 5px;
  color: #eeeeee;
  box-shadow: 2px 2px 1px 0 #4B5682;
  background-color: #151A30;
  border-radius: 7px;
  cursor: pointer;
}
.city-selector .city-list-container .city-list-abroad ul li:hover {
  color: darkorange;
}

.city-list-title {
  width: fit-content;
  margin: 5px auto;
  padding: 10px;
  color: #eeeeee;
  position: relative;
}
.city-list-title:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
}

.no-input-error {
  background: linear-gradient(130deg, #f36565 50%, #a70606 100%) !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=Weather_forecast.css.map */
