@import "../Variables";

//*************************//
// ** Weather container ** //
//*************************//

.loading {
  @extend %display-flex-center;
  height: 250px;

  font: $font-size-larger $font-family-text;
  color: $color-text;
}

.weather-container {
  @extend %display-flex-space-around;
  flex-wrap: wrap;

  height: fit-content;
  width: fit-content;

  padding: 0 10px;
  margin: 50px auto;
  font: $font-size-smaller $font-family-text;
  color: $color-text;

  background-color: $background-color-darker;
  border-radius: $border-radius-container;

  --gradient: linear-gradient( 135deg, #4B5682 10%, #7F8EC0 100%);

  ///////////////////////////////////////////
  // Fix today's weather card to stay      //
  // in the weather-container below 1352px.//
  @media (max-width: 1152px) {
    padding-top: 40px;
    width: 75%;
  }

  @media (min-width: 1352px) {
    padding-left: 25px;
  }
}