@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: content-box;
  margin: 50px auto;
  font-family: "Montserrat", sans-serif;
  background-color: #0F1329;
  border-radius: 20px;
  border: 5px solid #2d3748;
}
.form-container h1 {
  margin: 20px auto;
  color: darkorange;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.form-container .form label {
  width: 100%;
  font-size: 1.5vw;
  color: darkorange;
  pointer-events: none;
}
.form-container .form input {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  font-family: "Montserrat", sans-serif !important;
  background-color: #1B223E;
  color: #eeeeee;
  transition: 200ms ease;
}
.form-container .form input::placeholder {
  font-style: italic;
  font-family: "Montserrat", sans-serif !important;
  color: #eeeeee;
}
.form-container .form input:focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  background-color: #4B5682;
}
.form-container .form button {
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif !important;
  border: none;
  border-radius: 10px;
  outline: none;
  color: darkorange;
  --gradient: linear-gradient(135deg, #0F1329, #4B5682, #0F1329);
  background-image: var(--gradient);
  transition: 200ms ease;
  cursor: pointer;
}
.form-container .form button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.loading-spinner {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  color: darkorange;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.swal-modal {
  background-color: #1B223E;
  border: 3px solid rgba(255, 140, 0, 0.9);
  border-radius: 10px;
}

.swal-title,
.swal-text {
  font-family: "Montserrat", sans-serif;
  color: #eeeeee;
}

.swal-overlay {
  background-color: rgba(27, 37, 62, 0.6);
}

.swal-icon--success__ring {
  border: 4px solid #34b534 !important;
}

.swal-icon--success__line {
  background-color: #34b534 !important;
}

.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners {
  visibility: hidden;
}

.swal-button-container button {
  background-color: #34b534;
  color: #eeeeee;
}
.swal-button-container button:hover {
  background-color: darkorange !important;
}
.swal-button-container button:focus {
  box-shadow: none;
}

/*# sourceMappingURL=Authentication.css.map */
