@import "../Variables";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 500px;
  height: content-box;

  margin: 50px auto;

  font-family: $font-style-text;

  background-color: $darker-color-blue;
  border-radius: $border-radius-bigger;
  border: 5px solid $normal-color-blue;

  h1 {
    margin: 20px auto;

    color: darkorange;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;

    margin: 0 auto;

    label {
      width: 100%;

      font-size: $font-size-normal-vw;
      color: darkorange;

      pointer-events: none;
    }

    input {
      width: 100%;
      height: 35px;

      margin-bottom: 20px;
      padding: 0 10px;

      border-radius: 10px;
      border: 1px solid transparent;
      outline: none;

      font-family: $font-style-text !important;

      background-color: #1b223e;
      color: $color-whisper;

      transition: 200ms ease;

      &::placeholder {
        font-style: italic;
        font-family: $font-style-text !important;

        color: $color-whisper;
      }

      &:focus {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        background-color: #4B5682;
      }
    }

    button {
      width: 200px;
      height: 40px;

      margin-bottom: 20px;

      font-size: $font-size-normal-vw;
      font-family: $font-style-text !important;

      border: none;
      border-radius: 10px;
      outline: none;

      color: darkorange;
      --gradient: linear-gradient(135deg, #0F1329, #4B5682, #0F1329);
      background-image: var(--gradient);

      transition: 200ms ease;
      cursor: pointer;

      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  width: 100%;
  margin-bottom: 5px;
}

.input-error {
  background: linear-gradient(130deg, #f36565 50%, #a70606 100%) !important;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}