@import "../../Variables.scss";

.header {
  @extend  %display-flex-space-between;

  width: 100%;
  height: fit-content;

  padding: 5px 0 0;

  background-color: $background-color-darker;

  .title {
    display: flex;
    align-items: center;

    width: 35%;

    font-family: $font-family-title;
    font-size: $font-size-large-vw;
    letter-spacing: 5px;

    @media screen and (max-width: 775px) {
      font-size: 65px;
    }

    @media screen and (max-width: 625px) {
      font-size: 50px;
    }

    a {
      text-align: left;
      text-decoration: none;

      margin-left: 20px;

      color: $color-highlight;
    }
  }

  .navbar {
    @extend %display-flex-flex-end;

    width: 65%;

    font-family: $font-family-title;
    font-size: $font-size-larger-vw;
    letter-spacing: 1px;
    text-align: center;

    a {
      margin: 15px;

      text-decoration: none;
      font-size: $font-size-larger-header-vw;

      color: $color-text;
    }

    a:hover {
      color: $focus-color-lighter-hover;
    }
  }
}

/* Style The Dropdown Button */
.dropdown-button {
  background-color: $background-color-darker;
  color: $color-text;
  margin: 15px;
  font-family: $font-family-title;
  font-size: $font-size-larger-header-vw;
  border: none;
  cursor: pointer;
  outline: none;

  //width: 170px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 15px;
  background-color: $background-color-dark;
  border-top: none;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 20px 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: $focus-color-lighter-hover
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: $focus-color-lighter-hover;
}