@import "../../Variables.scss";

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 80%;
  padding: 30px;
  margin: 50px auto;

  line-height: 1.5;
  text-align: justify;
  font-size: 20px;
  font-family: $font-style-text;

  color: #eeeeee;
  background-color: $darker-color-blue;
  border-radius: 20px;

  h1 {
    font-size: $font-size-large-vw;
    text-align: center;
    color: darkorange;
  }

  .app-introduction {
    width: 100%;
    border-top: 1px dashed darkorange;

    h2 {
      color: darkorange;
    }

    ul {
      li {
        list-style: none;

        .leaf-icon {
          color: darkorange;
        }

        span {
          padding-left: 20px;
        }
      }
    }
  }
}

//***************//
//Highlight links//
//***************//

.highlight {
  color: darkorange;
  text-decoration: none;
}