@import "../../Variables.scss";

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 80%;
  padding: 30px;
  margin: 50px auto;

  line-height: 1.5;
  text-align: justify;
  font-size: 20px;

  color: #eeeeee;
  background-color: $darker-color-blue;
  border-radius: 20px;

  h1 {
    font-size: $font-size-large-vw;
    text-align: center;
    color: darkorange;
  }
}

.app-introduction {
  width: 100%;
  border-top: 1px dashed darkorange;

  h2 {
    color: darkorange;
  }

  ul {
    li {
      list-style: none;

      .leaf-icon {
        color: darkorange;
      }

      span {
        padding-left: 20px;
      }
    }
  }
}

.my-garden {
  text-align: center;
  color: darkorange;

  img {
    border-radius: 20px;
    cursor: pointer;
  }
}

.highlight {
  color: darkorange;
  text-decoration: none;
}

.fullscreen {
  position:fixed;
  left:10%;
  top:10%;
  z-index:10;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 20px;
}

