@import "../../Variables.scss";

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 80%;
  padding: 30px;
  margin: 50px auto;

  line-height: 1.5;
  text-align: justify;
  font-size: $font-size-normal-hover-vw;
  font-family: $font-family-text;

  color: $color-text;
  background-color: $background-color-darker;
  border-radius: $border-radius-container;

  h1 {
    font-size: $font-size-large-vw;
    text-align: center;
    color: $color-highlight;
  }

  .app-introduction {
    width: 100%;
    border-top: 1px dashed $color-highlight;

    h2 {
      color: $color-highlight;
    }

    ul {
      li {
        list-style: none;

        .leaf-icon {
          color: $color-highlight;
        }

        span {
          padding-left: 20px;
        }
      }
    }
  }
}

//***************//
//Highlight links//
//***************//

.highlight {
  color: $color-highlight;
  text-decoration: none;
}