@import "../../Variables.scss";

%width-and-margin {
  width: 150px;
  margin: 0 10px;
}

%button-style {
  padding: 6px 12px;
  background-color: $focus-color-lighter;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: $color-text;

  &:hover {
    color: darkorange;
  }
}

///////////////
// Selectors //

.container {
  width: 90%;

  margin: 50px auto;
  padding: 10px;

  font-family: "Montserrat", sans-serif;

  border-radius: $border-radius-container;
  background-color: $background-color-darker;
  color: $color-text;

  .title {
    font-size: $font-size-larger-vw;
    color: $color-highlight;
    margin: 30px;
    text-align: center;
  }

  .navigation-bar {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $background-color-darker;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .upload-image-selection {
      width: 520px;
      //margin: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input[type="file"] {
        display: none;
      }

      .custom-file-upload {
        @extend %display-flex-space-around;
        @extend %width-and-margin;
        @extend %button-style;
      }

      .selected-image-name {
        @extend %width-and-margin;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      .submit-upload {
        @extend %width-and-margin;
        @extend %button-style;

        border: none;
      }
    }

    .extra-options {
      width: calc(100% - 520px);
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .remove-button,
      .select-all,
      .image-per-page {
        @extend %button-style;
        //white-space: nowrap;
        width: 10vw;
        max-width: 125px;
        margin: 0 10px;
        text-align: center;
      }
    }

  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-gap: 15px 20px;
    justify-content: space-evenly;

    min-height: 280px;

    margin: 20px 0 0;
    padding: 10px;

    background-color: $background-color-normal;
    border-radius: $border-radius-container;

    .text {
      @extend %display-flex-center;
      color: darkorange;
      font-size: $font-size-normal-vw;
      font-weight: bold;
    }

    .image-container {
      @extend %display-flex-center;
      width: 100%;
      max-width: 350px;
      height: 250px;
      background-color: $background-color-darkest;
      border-radius: $border-radius-smaller;
      border: 1px solid $focus-color-lighter;
      position: relative;

      &:hover {
        border: 1px solid $focus-color-lighter-hover;
        cursor: pointer;

        .magnifying-glass {
          display: block;
        }
      }

      img {
        pointer-events: none;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 240px;
        user-select: none;

        &:hover {
        }
      }

      .remove-container {
        position: absolute;
        top: 10px;
        left: 10px;
        color: darkorange;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: none;
      }

      .active {
        display: block;
      }

      .magnifying-glass {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        width: 25px;
        height: 25px;
        display: none;

        &:hover {
          color: darkorange;
        }
      }
    }
  }
}

/* The container <div> - needed to position the dropdown content */
.img-per-page-dropdown {
  position: relative;
  display: inline-block;
}

/* Style The Dropdown Button */
.img-per-page-dropdown-button {
  @extend %button-style;
  //white-space: nowrap;
  width: 10vw;
  max-width: 125px;
  margin: 0 10px;
  text-align: center;

  //background-color: $background-color-darker;
  //color: $color-text;
  //margin: 15px;
  font-family: $font-family-title;
  //font-size: $font-size-larger-header-vw;
  border: none;
  cursor: pointer;
  outline: none;

  svg {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* Dropdown Content (Hidden by Default) */
.img-per-page-dropdown-content {
  display: none;
  position: absolute;
  right: 15px;
  background-color: $background-color-normal;
  border: 1px solid $color-highlight;
  border-top: none;
  min-width: fit-content;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 0 0 20px 20px;
}

/* Divs inside the dropdown */
.img-per-page-dropdown-content div {
  @extend %display-flex-center;
  width: 100px;
  color: $color-text;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  //display: block;
  position: relative;
  cursor: pointer;

  &:hover {
    color: darkorange;
  }

  //&.active {
  //  svg {
  //    color: darkorange;
  //  }
  //}

  svg {
    position: absolute;
    left: 20px;
  }


  .active {
    color: darkorange;
  }
}


.img-per-page-dropdown-content div:nth-child(1n+2) {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 3px;
    background: linear-gradient(130deg, #0F1329, $color-highlight 50%, #0F1329 100%);
  }
}

/* Show the dropdown menu on hover */
.img-per-page-dropdown:hover .img-per-page-dropdown-content {
  display: block;
}

.pagination {
  width: 210px;
  @extend %display-flex-center;
  background-color: #1B223E;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;

  .hidden {
    visibility: hidden;
  }

  .pagination-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      color: darkorange;
    }
  }

  .actual-page {
    width: 30px;
    height: 30px;
    font-size: 20px;
    @extend %display-flex-center;
  }
}
