@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.tag-bar .existing-tag .tag, .tag-bar .add-new-tag .add-tag-button, .gallery-pagination .actual-page, .gallery-pagination, .img-per-page-dropdown-content div, .container .gallery .image-container, .container .gallery .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .navigation-bar .upload-image-selection .custom-file-upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tag-bar .add-new-tag, .tag-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .navigation-bar .upload-image-selection .submit-upload, .container .navigation-bar .upload-image-selection .selected-image-name, .container .navigation-bar .upload-image-selection .custom-file-upload {
  width: 150px;
  margin: 0 5px;
}

.img-per-page-dropdown-button, .container .navigation-bar .extra-options .remove-button,
.container .navigation-bar .extra-options .select-all,
.container .navigation-bar .extra-options .image-per-page, .container .navigation-bar .upload-image-selection .submit-upload, .container .navigation-bar .upload-image-selection .custom-file-upload {
  padding: 6px 12px;
  background-color: #4B5682;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #eeeeee;
}
.img-per-page-dropdown-button:hover, .container .navigation-bar .extra-options .remove-button:hover,
.container .navigation-bar .extra-options .select-all:hover,
.container .navigation-bar .extra-options .image-per-page:hover, .container .navigation-bar .upload-image-selection .submit-upload:hover, .container .navigation-bar .upload-image-selection .custom-file-upload:hover {
  color: darkorange;
}

.container {
  width: 90%;
  margin: 50px auto;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 25px;
  background-color: #0F1329;
  color: #eeeeee;
}
.container .title {
  font-size: 2vw;
  color: darkorange;
  margin: 30px;
  text-align: center;
}
.container .navigation-bar {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #0F1329;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .navigation-bar .upload-image-selection {
  width: 520px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .navigation-bar .upload-image-selection input[type=file] {
  display: none;
}
.container .navigation-bar .upload-image-selection .selected-image-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.container .navigation-bar .upload-image-selection .submit-upload {
  border: none;
}
.container .navigation-bar .extra-options {
  width: calc(100% - 520px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .navigation-bar .extra-options .remove-button,
.container .navigation-bar .extra-options .select-all,
.container .navigation-bar .extra-options .image-per-page {
  width: 10vw;
  max-width: 125px;
  margin: 0 10px;
  text-align: center;
}
.container .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-gap: 15px 20px;
  justify-content: space-evenly;
  min-height: 280px;
  margin: 0;
  padding: 10px;
  background-color: #1B223E;
  border-radius: 25px;
}
.container .gallery .text {
  color: darkorange;
  font-size: 1.5vw;
  font-weight: bold;
}
.container .gallery .image-container {
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 290px;
  background-color: #040617;
  border-radius: 10px;
  border: 1px solid #4B5682;
  position: relative;
}
.container .gallery .image-container.active {
  border: 1px solid darkorange;
}
.container .gallery .image-container.active .image-tag-list {
  border-bottom: 1px solid darkorange;
}
.container .gallery .image-container.active:hover {
  border: 1px solid darkorange;
}
.container .gallery .image-container.active:hover .image-tag-list {
  border-bottom: 1px solid darkorange;
}
.container .gallery .image-container:hover {
  border: 1px solid #7F8EC0;
  cursor: pointer;
}
.container .gallery .image-container:hover .image-tag-list {
  border-bottom: 1px solid #7F8EC0;
}
.container .gallery .image-container:hover .magnifying-glass {
  display: block;
}
.container .gallery .image-container .image-tag-list {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  padding: 5px 0;
  border-bottom: 1px solid #4B5682;
}
.container .gallery .image-container .image-tag-list div {
  margin: 0 5px;
  border-radius: 50%;
}
.container .gallery .image-container img {
  pointer-events: none;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 240px;
  user-select: none;
  margin-top: 40px;
}
.container .gallery .image-container .remove-container {
  position: absolute;
  top: 50px;
  left: 10px;
  color: darkorange;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: none;
}
.container .gallery .image-container .active {
  display: block;
}
.container .gallery .image-container .magnifying-glass {
  position: absolute;
  top: 50px;
  right: 10px;
  color: white;
  width: 25px;
  height: 25px;
  display: none;
}
.container .gallery .image-container .magnifying-glass:hover {
  color: darkorange;
}

/* The container <div> - needed to position the dropdown content */
.img-per-page-dropdown {
  position: relative;
  display: inline-block;
}

/* Style The Dropdown Button */
.img-per-page-dropdown-button {
  width: 10vw;
  max-width: 125px;
  margin: 0 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  outline: none;
}
.img-per-page-dropdown-button svg {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Dropdown Content (Hidden by Default) */
.img-per-page-dropdown-content {
  display: none;
  position: absolute;
  right: 15px;
  background-color: #1B223E;
  border: 1px solid darkorange;
  border-top: none;
  min-width: fit-content;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}

/* Divs inside the dropdown */
.img-per-page-dropdown-content div {
  width: 100px;
  color: #eeeeee;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.img-per-page-dropdown-content div:hover {
  color: darkorange;
}
.img-per-page-dropdown-content div svg {
  position: absolute;
  left: 20px;
}
.img-per-page-dropdown-content div .active {
  color: darkorange;
}

.img-per-page-dropdown-content div:nth-child(1n+2):before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 3px;
  background: linear-gradient(130deg, #0F1329, darkorange 50%, #0F1329 100%);
}

/* Show the dropdown menu on hover */
.img-per-page-dropdown:hover .img-per-page-dropdown-content {
  display: block;
}

.gallery-pagination {
  width: 210px;
  background-color: #1B223E;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
}
.gallery-pagination .hidden {
  visibility: hidden;
}
.gallery-pagination .pagination-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.gallery-pagination .pagination-icon:hover {
  color: darkorange;
}
.gallery-pagination .actual-page {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.uploading-loading-spinner {
  width: 25px;
  height: 25px;
  color: darkorange;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.tag-bar {
  position: sticky;
  top: 70px;
  z-index: 2;
  background-color: #0F1329;
  align-items: flex-start;
  border-top: 1px dashed darkorange;
  padding: 10px 0;
}
.tag-bar .add-new-tag {
  min-width: 400px;
  padding: 0 5px;
  margin: 5px 0;
}
.tag-bar .add-new-tag input {
  width: 150px;
  height: 30px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  font-family: "Montserrat", sans-serif !important;
  background-color: #1B223E;
  color: #eeeeee;
  transition: 200ms ease;
}
.tag-bar .add-new-tag input::placeholder {
  font-family: "Montserrat", sans-serif !important;
  color: #eeeeee;
}
.tag-bar .add-new-tag input:focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  background-color: #4B5682;
}
.tag-bar .add-new-tag .add-tag-button {
  width: 100px;
  height: 30px;
  background-color: #1B223E;
  border-radius: 10px;
  transition: 200ms ease;
  cursor: pointer;
}
.tag-bar .add-new-tag .add-tag-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}
.tag-bar .existing-tag {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-height: 80px;
  overflow-y: scroll;
}
.tag-bar .existing-tag::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: block;
}
.tag-bar .existing-tag::-webkit-scrollbar-track {
  border-radius: 10px;
}
.tag-bar .existing-tag::-webkit-scrollbar-thumb {
  background: #4B5682;
  border-radius: 10px;
}
.tag-bar .existing-tag::-webkit-scrollbar-thumb:hover {
  background: #7F8EC0;
}
.tag-bar .existing-tag::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.tag-bar .existing-tag .tag {
  width: 130px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
}

.color-dropdown {
  position: relative;
  display: inline-block;
}

.color-dropdown-button {
  padding: 0;
  width: 100px;
  height: 30px;
  position: relative;
  text-align: center;
  border-radius: 10px;
}

.color-dropdown-content {
  display: none !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -87px;
  top: 30px;
  background-color: #151A30;
  border: 1px solid #4B5682;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
}
.color-dropdown-content span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.color-dropdown-content span div {
  width: 100% !important;
  height: 100% !important;
}
.color-dropdown-content span div span {
  margin: 0;
}

.color-dropdown:hover .color-dropdown-content {
  display: flex !important;
}

/*# sourceMappingURL=UserImages.css.map */
