@import "../../Variables.scss";

.container {
  width: 90%;
  margin: 50px auto;
  padding: 10px;
  //min-height: 700px;
  border-radius: $border-radius-container;
  background-color: $background-color-dark;

  .navigation-bar {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-color: $background-color-normal;
    border-top-right-radius: $border-radius-container;
    border-top-left-radius: $border-radius-container;

    .image-selection {
      width: 500px;
      //width: fit-content;
      margin: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;


      input[type="file"] {
        display: none;
      }

      .custom-file-upload {
        width: 130px;
        background-color: $focus-color-lighter;
        border-radius: 10px;
        padding: 6px 12px;
        margin: 0 10px;
        cursor: pointer;
        @extend %display-flex-space-around;

        &:hover {
          color: darkorange;
        }
      }

      .selected-image-name {
        margin: 0 10px;
        width: 130px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      .submit-upload {
        width: 130px;
        padding: 6px 12px;
        border: none;
        font-size: 16px;
        background-color: $focus-color-lighter;
        border-radius: 10px;
        cursor: pointer;
        color: $color-text;
        margin: 0 10px;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    grid-gap: 10px 30px;
    justify-content: space-evenly;

    min-height: 280px;

    margin: 20px 0;
    background-color: $background-color-normal;
    padding: 10px;

    .image-container {
      width: 400px;
      height: 250px;
      @extend %display-flex-center;

      img {
        width: auto;
        max-width: 400px;
        height: auto;
        max-height: 250px;
      }
    }

  }
}
