@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
.container .gallery .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .navigation-bar .image-selection .custom-file-upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .navigation-bar .image-selection .submit-upload, .container .navigation-bar .image-selection .selected-image-name, .container .navigation-bar .image-selection .custom-file-upload {
  width: 150px;
  margin: 0 10px;
}

.container .navigation-bar .extra-options .remove-button,
.container .navigation-bar .extra-options .select-all,
.container .navigation-bar .extra-options .image-per-page, .container .navigation-bar .image-selection .submit-upload, .container .navigation-bar .image-selection .custom-file-upload {
  padding: 6px 12px;
  background-color: #4B5682;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #eeeeee;
}
.container .navigation-bar .extra-options .remove-button:hover,
.container .navigation-bar .extra-options .select-all:hover,
.container .navigation-bar .extra-options .image-per-page:hover, .container .navigation-bar .image-selection .submit-upload:hover, .container .navigation-bar .image-selection .custom-file-upload:hover {
  color: darkorange;
}

.container {
  width: 90%;
  margin: 50px auto;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 25px;
  background-color: #0F1329;
}
.container .title {
  font-size: 2vw;
  color: darkorange;
  margin: 30px;
  text-align: center;
}
.container .navigation-bar {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .navigation-bar .image-selection {
  width: 520px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .navigation-bar .image-selection input[type=file] {
  display: none;
}
.container .navigation-bar .image-selection .selected-image-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.container .navigation-bar .image-selection .submit-upload {
  border: none;
}
.container .navigation-bar .extra-options {
  width: calc(100% - 520px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .navigation-bar .extra-options .remove-button,
.container .navigation-bar .extra-options .select-all,
.container .navigation-bar .extra-options .image-per-page {
  width: 10vw;
  max-width: 125px;
  margin: 0 10px;
  text-align: center;
}
.container .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-gap: 15px 20px;
  justify-content: space-evenly;
  min-height: 280px;
  margin: 20px 0 0;
  padding: 10px;
  background-color: #1B223E;
  border-radius: 25px;
}
.container .gallery .image-container {
  width: 100%;
  max-width: 350px;
  height: 250px;
  background-color: #040617;
  border-radius: 10px;
  border: 1px solid #4B5682;
  position: relative;
}
.container .gallery .image-container:hover {
  border: 1px solid #7F8EC0;
  cursor: pointer;
}
.container .gallery .image-container img {
  pointer-events: none;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 240px;
  user-select: none;
}
.container .gallery .image-container .remove-container {
  position: absolute;
  top: 10px;
  left: 10px;
  color: darkorange;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: none;
}
.container .gallery .image-container .active {
  display: block;
}

/*# sourceMappingURL=UserImages.css.map */
